:root {
  --c1: #ffffff;
  --c2: #f1f1f1;
  --c3: #b92d36;
  --c4: #786d68;
  --text-main-color: #595959;
  --text-secondary-color: var(--c4);
  --tooltip-bg: #15181e;
  --tooltip-color: var(--c2);
}

.darkmode {
  --c1: #15181e;
  --c2: #1f2229;
  --c4: #2b282a;
  --text-main-color: #f4f5f6;
  --text-secondary-color: #b5aeaa;
  --bs-border-color: var(--c1);
  --tooltip-bg: #f4f5f6;
  --tooltip-color: var(--c2);
}

body {
  padding-top: 3rem;
  color: var(--text-main-color);
  background-color: var(--c1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.bg-c1 {
  background-color: var(--c1) !important;
}
.bg-c2 {
  background-color: var(--c2) !important;
}
.bg-c3 {
  background-color: var(--c3) !important; 
}
.bg-c4 {
  background-color: var(--c4) !important; 
}

.text-main { 
  color: var(--text-main-color) !important;
}
.text-secondary { 
  color: var(--text-secondary-color) !important;
}
.text-c3 { 
  color: var(--c3)
}
.text-c4 { 
  color: var(--c4)
}

.text-f { color: #FF8686;}
.text-m { color: #6697cc;}
.text-n { color: #009933;}

.navbar {
  font-size: 120%;
  background-color: var(--c4);
  --bs-navbar-color: rgba(255, 255, 255, 0.75) !important;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.9) !important;
}
#darkmode-toggle {
  font-size: 1.25rem;
}
@media (max-width: 767.98px) {
  #darkmode-toggle {
    padding: 0;
    margin-bottom: 0.5rem;
  }
}

#darkmode-toggle {
  color: var(--bs-navbar-color);
  border-radius: 0.5rem;
  width: 100%;
  text-align: start;
}
#darkmode-toggle:hover {
  color: var(--bs-navbar-hover-color);
}
#darkmode-toggle:active,
#darkmode-toggle:focus {
  color: var(--bs-navbar-hover-color);
  border: 1px solid var(--bs-navbar-hover-color) !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}
.navbar-toggler-icon {
  width: 1.25em;
}

.nav-tabs {
  border-color: var(--c4);
}
.nav-tabs .nav-link {
  color: var(--text-secondary-color);
}
.nav-tabs .nav-link i {
  font-size: 1.2rem !important;
}
.nav-tabs .nav-link.active {
  color: var(--text-main-color);
  background-color: var(--c1);
  border-color: var(--c4);
}
.nav-tabs .nav-link.active > span {
  display: inline !important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: var(--c4);
  color: var(--text-main-color);
}

/* lines */
.toggler-icon {
  width: 1.25em;
  height: 2px;
  background-color: var(--bs-navbar-color);
  border-radius: 1rem;
  display: block;
  transition: all 0.2s;
}
.middle-bar{
  margin: 5px auto;
}
.navbar-toggler .top-bar {
  transform: rotate(0);
}
.navbar-toggler .middle-bar {
  opacity: 1;
}
.navbar-toggler .bottom-bar {
  transform: rotate(0);
}
/* when navbar open */
.navbar-toggler[aria-expanded="true"] .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler[aria-expanded="true"] .middle-bar {
  opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.section-title {
  color: var(--bs-light);
  box-shadow: 0 0 0 100vmax var(--c4);
  clip-path: inset(0 -100vmax);
  background-color: var(--c4);
  margin: 2rem 0 1.5rem 0;
  padding: 2rem 0;
}
.btn-access {
  font-weight: 600;
  border-radius: 1rem !important;
  border: 1px solid var(--c3) !important;
  background-color: var(--c3) !important;
  color: var(--bs-light) !important;
}
.btn-access:hover, .btn-access:active, .btn-access:focus {
  border: 1px solid var(--c3) !important;
  background-color: var(--c1) !important;
  color: var(--c3) !important;
}

.btn-lod {
  margin-left: 0.25rem;
  padding: 0.05rem 0.3rem 0.05rem 0.3rem;
  border-radius:1rem;
  font-size: .75rem;
}
.dropdown-menu {
  padding: 0.25rem;
}
.dropdown-item {
  border-radius: 0.375rem !important;
}
.dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.card {
  border: none;
  border-radius:calc(1rem + 1px) !important;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.225);
}
.card > .card-img, .card > .card-img-overlay {
  border-radius: 1rem !important;
}
.card-title {
  font-weight: 625;
  font-size: 1.25rem;
}

.card-home {
  background-color: var(--c2);
}
.card-home:hover {
  box-shadow: none;
}
@media (hover: none) {
  .card-home:hover {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.225);
  }
}
.card-home-img {
  float: right;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.card-header:first-child {
  border-bottom: none;
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
  box-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.1);
  background-color: var(--c4);
  color: var(--bs-light);
}
.card-img-overlay {
  opacity: 0;
}

.list-group-item {
  color: var(--text-main-color);
  background-color: transparent;
}
.table {
  margin-bottom: 0;
}
#table-p-article > :not(caption) > * > * {
  padding: .5rem .25rem;
}
#table-p-article tbody tr:last-child{
  border-color: var(--c2);
}
#table-p-article > tbody > tr > th {
  font-weight: 600;
  padding-left: 1rem;
}
#table-p-article thead {
  font-size: 1.2rem !important;
}
#table-p-article td, #table-p-article thead {
  text-align: center;
}
.btn-exe.active .card-img-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.exe-title {
  display:inline-block;
  padding-bottom: 0.25rem;
  border-bottom:0.2rem solid var(--c3);
}
.p-clock {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2rem !important;
  margin: auto;
}
.accordion {
  --bs-accordion-bg: unset;
  --bs-accordion-active-bg:unset;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.225) !important;
  border-radius: 1rem !important;
}
.accordion-item {
  border-left-color: var(--c2) !important;
  border-right-color: var(--c2) !important;
}
.accordion-item:first-of-type {
  border-top-color: var(--c2) !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
.accordion-item:first-of-type .accordion-button.collapsed {
  border-top-left-radius: calc(1rem - 1px) !important;
  border-top-right-radius: calc(1rem - 1px) !important;
}
.accordion-item:last-of-type {
  border-bottom-color: var(--c2) !important;
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(1rem - 1px) !important;
  border-bottom-left-radius: calc(1rem - 1px) !important;
}

.accordion-button, .accordion-button:active,
.accordion-body {
  color: var(--text-main-color) !important;
  box-shadow: none !important;
}

.accordion-button.collapsed, .accordion-button.collapsed:focus {
 color: var(--text-main-color) !important;
 background-color: var(--c2) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2380746f'><path d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z'/></svg>");
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2380746f'><path d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z'/></svg>");
}

.chapter-link {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  color: var(--c3);
}
.chapter-link:hover {
  color: var(--text-secondary-color) !important;
}
.chapter-link:active,
.chapter-link:focus {
  color: var(--text-secondary-color);
  border: 1px solid var(--text-secondary-color) !important;
}
.footer-bottom {
  background-color: var(--c4);
  padding: 0.75rem 0;
  color: var(--bs-light);
  text-align: center;
  box-shadow: 0 -0.5rem 0.75rem -0.5rem rgba(0, 0, 0, 0.225);
}
.footer-bottom p {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.footer-bottom a {
  font-size: 0.9rem;  
  color: rgba(255, 255, 255, 0.75);
  text-transform: lowercase;
}
.footer-bottom a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.footer-title {
  color: var(--text-main-color);
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 0.1rem solid var(--c3);
}
.footer-link {
  color: var(--text-main-color) !important;
  font-size: .875em;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 1rem !important;
  transition: all 0.2s;
}
.footer-link i {
  color: var(--c3);
  transition: all 0.2s;
}
.footer-link:hover i,
.footer-link:active i {
  color: var(--text-secondary-color) !important;
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  background-color: var(--c1);
  border-color: var(--c3) !important;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 54%;
  right: 0;
  border-top: 2px solid;
  border-color: #dc3545;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  -o-transform:rotate(-30deg);
  transform:rotate(-30deg);
}

#btn-back-to-top {
  display: none;
  position: fixed;	
  bottom: 35px;
  right: 35px;
  z-index: 99;
  font-size: 2rem;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}

.tooltip-style {
  --bs-tooltip-bg: var(--tooltip-bg);
  --bs-tooltip-color: var(--tooltip-color);
  --bs-tooltip-font-size: 1.5rem;
  --bs-tooltip-padding-y: 0.25rem;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-font-size: 1.25rem;
  --bs-tooltip-arrow-width: 1rem;
  --bs-tooltip-arrow-height: 0.8rem;
  --bs-tooltip-opacity: 0.9rem;
}
.svg-ellipse {
  cursor: help;
}